/*======================
    404 page
=======================*/

.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-size: cover;
}

.four_zero_four_bg h1 {
    font-size: 50px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}

@media (max-width: 768px) {
    .four_zero_four_bg h1 {
        font-size: 50px;
    }

    .four_zero_four_bg h3 {
        font-size: 50px;
    }

    .contant_box_404 {
        margin-top: 0;
    }

    .page_404 {
        padding: 30px 0;
    }
}

.btn-primary {
    background-color: #39ac31;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #339a27;
}
